/* Settings */
:root {
    --bgSite: #f6f6f6;
    --bgCard: #ebe9ea;

    --white: #fff;

    --title: #181818;
    --text: #474747;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'montB';
    src: url('../assets/font/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'montM';
    src: url('../assets/font/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'montSB';
    src: url('../assets/font/Montserrat-SemiBold.ttf');
}
body, html{
    height: 100%;
    margin: 0px;
}
::-webkit-scrollbar {
    width: 0px;
}

/* Header */
.header{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.free{
    font-family: 'montM';
    font-size: 10px;
    height: 36px;
    background-color: var(--title);
    color: #f9f9f9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.brand{
    font-family: 'montM';
    font-size: 10px;
    height: 36px;
    background-color: #f9f9f9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.brand a{
    color: var(--title);
    text-decoration: none;
}

/* Main content */
.main{
    height: 100%;
    width: 100%;
}
.home{
    background-image: url('../assets/img/wallpaper.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40%;
    width: 100%;
    padding-left: 6%;
    padding-top: 6%;
    font-size: 20px;
}
.home > h1{
    font-family: 'montSB';
    color: #ffff;
}
.home > p{
    margin-top: 15px;
    font-family: 'montm';
    font-size: 15px;
    color:#ececec;
}
.emphasis{
    background-color: white;
    height: auto;
    width: 100%;
    text-align: center;
    font-family: 'montSB';
    padding: 10px 0 10px 0;

}
.emphasis > h2{
    margin-top: 20px;
    color: var(--title);
}
.emphasis > p{
    color: var(--title);
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;

}
.card-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 20px;
    margin: 0 auto;
}
.card{  
    height: 140px;
    margin: 10px auto 0 auto;
    width: 240px;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    transition: 0.5s;
}
.card:hover > img {
    height: 110%;
}
.card img{
    height: 100%;
    transition: 0.3s;
}

/* footer */
.footer{
    height: 30px;
    font-size: 13px;
    font-family: 'montM';
    background-color: #181818;
    text-align: center;
    color: #dadada;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width: 500px){
    .home{
        padding-top: 20%;
    }
}
